section{
    display: flex;
    justify-content: center;
    padding: 2vh;
}
article{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
    border: 1px black solid;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}

input{
    padding: 1vh;
    border: 1px lightgray solid;
    outline: none;
}

button{
    border: none;
    padding: 1vh;
    color: white;
    outline: none;
}